{% extends "bootstrap/base.html" %}

{% block title %}Visor de espectros{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Visor de espectros</span>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Inicio</a></li>
                    <li><a href="{{ url_for('main.upload') }}">Subir espectro</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not session['email'] %}
                        <li><a href="{{ url_for('google.login') }}">Iniciar
                            sesión con Google</a></li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown">{{ session['email']|safe }}<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ url_for('main.datasets') }}">Gestionar Datasets</a></li>
                                <li><a href="{{ url_for('google.logout') }}">Cerrar
                                    Sesión</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert {{ 'alert-'+category }}">
                <button type="button" class="close" data-dismiss="alert">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
                {{ message }}
            </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
