{% extends "base.html" %}

{% block title %}Página principal{% endblock %}

{% block page_content %}
    <div class="page-header">
        {% if not session['name'] %}
            <h2>Bienvenido desconocido.</h2>
        {% else %}
            <h2>Bienvenido {{ session['name']|safe }}.</h2>
        {% endif %}
    </div>
    {% if not session['name'] %}
        <p>Por favor, inicie sesión para tener disponibles todas las funcionalidades.</p>
    {% else %}
        <p>Ya puede acceder a todas las funcionalidades.</p>
    {% endif %}
{% endblock %}