{% extends "base.html" %}
{% set active_page="manage" %}


{% block title %}Gestión de datasets{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h2>Mis ficheros guardados</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Para subir un dataset pulse <a
                    href="{{ url_for('main.upload_dataset') }}">aquí</a></p>
            {% if datasets %}
                <p>A continuación se muestran los datasets que has subido.</p>
                <ul class="list-group">
                    {% for dataset in datasets %}
                        <li class="list-group-item">
                            <div class="list-group-item-heading clearfix">
                                <h4 class="pull-left">{{ dataset['name'] }}</h4>
                                <div class="btn-group pull-right" role="group">
                                    <a href="{{ url_for('main.plot_dataset', dataset=dataset['name']) }}"
                                       class="btn btn-primary">Representar</a>
                                    <a href="{{ url_for('main.delete_dataset', dataset=dataset['name']) }}"
                                       class="btn btn-danger">Eliminar</a>
                                </div>
                            </div>
                            <p class="list-group-item-text">{{ dataset['notes'] }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No hay ningún dataset para esta cuenta.</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            <p>Para subir un espectro pulse <a
                    href="{{ url_for('main.upload_spectrum') }}">aquí</a></p>
            {% if spectra %}
                <p>A continuación se muestran los espectros que has subido.</p>
                <div class="list-group">
                    {% for spectrum in spectra %}
                        <li class="list-group-item">
                            <div class="list-group-item-heading clearfix">
                                <h4 class="pull-left">{{ spectrum['name'] }}</h4>
                                <div class="btn-group pull-right" role="group">
                                    <a href="{{ url_for('main.plot_spectrum', spectrum=spectrum['name']) }}"
                                       class="btn btn-primary">Representar</a>
                                    <a href="{{ url_for('main.delete_spectrum', spectrum=spectrum['name']) }}"
                                       class="btn btn-danger">Eliminar</a>
                                </div>
                            </div>
                            <p class="list-group-item-text">{{ spectrum['notes'] }}</p>
                        </li>
                    {% endfor %}
                </div>
            {% else %}
                <p>No hay ningún espectro para esta cuenta</p>
            {% endif %}
        </div>
    </div>
{% endblock %}