{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page="upload-spectrum" %}

{% block title %}Subir espectro{% endblock %}

{% block page_content %}
    <div id="waiting-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content panel panel-default">
                <div class="modal-header panel-heading">
                    <p>Espera</p>
                </div>
                <div class="modal-body panel-body">
                    <p>Su espectro se está subiendo y guardando. El proceso
                        puede tardar unos minutos, cuando termine será
                        redirigido a sus archivos.</p>
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
        <h2>Subida de espectro</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p><strong>Formato requerido</strong></p>
            <ul>
                <li>El fichero debe ser del tipo CSV.</li>
                <li>El separador de las columnas tiene que ser punto y coma (;).
                </li>
                <li>Debe haber dos columnas de datos, la primera con el valor X
                    y la segunda con el valor Y.
                </li>
                <li>El nombre de fichero es obligatorio.</li>
                <li>El nombre no puede estar repetido.</li>
                <li>En caso de haber escrito un nombre al seleccionar fichero se
                    usará el nombre del fichero.
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}